@import "global.css";


form {
    display: flex;
    flex-direction: column;
    background-color: #e6eef5;
    border-radius: 4px;
    margin: 2em auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 3em auto;
    width: 75%;
    padding: 2em 3em;
}

form h4 {
    margin-top: 0;
}



label {
    margin-bottom: 0.5em;
}

input {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #130d68;
    border-radius: 4px;
    padding: 10px;
}

button {
    float: right;
    background-color: #f3ece5;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
    color: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media only screen and (min-width: 1025px) {

    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    form {
        width: 50%;
    }



}




