@import "./main.css";


form {
    display: flex;
    flex-direction: column;
    background-color: #e6eef5;
    border-radius: 4px;
    margin: 3em auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 3em auto;
    width: 75%;
    padding: 2em 3em;
}


form h4 {
    margin-top: 0;
}



label {
    margin-bottom: 0.5em;
}

input {
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid #130d68;
    border-radius: 4px;
    padding: 10px;
}

button {
    padding: 1em;
    font-weight: bolder;
    margin-top: 1em;
    font-size: 1em;
}



@media only screen and (min-width: 1025px) {

    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-right: 1.5em;
    }

    form {
        width: 50%;
    }



}




